body {
	background-color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
}

.App {
	text-align: center;
}

.Card {
	margin: 20px;
}

.CardMedia {
	height: 300px;
}

.CardContent {
	padding: 20px;
}

.Typography {
	color: #333;
}

.Typography.h2 {
	color: #ff69b4;
	font-size: 36px;
}

.Typography.body1 {
	color: #666;
	font-size: 24px;
	margin-bottom: 20px;
}